@page "/todotasks/delete"
@using Microsoft.EntityFrameworkCore
@using TodoApp.Models
@inject IDbContextFactory<TodoApp.Data.TodoAppContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>TodoTask</h2>
    <hr />
    @if (todotask is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">IsCompleted</dt>
            <dd class="col-sm-10">@todotask.IsCompleted</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">TaskName</dt>
            <dd class="col-sm-10">@todotask.TaskName</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">DueDate</dt>
            <dd class="col-sm-10">@todotask.DueDate</dd>
        </dl>
        <EditForm method="post" Model="todotask" OnValidSubmit="DeleteTodoTask" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(todotask is null)">Delete</button> |
            <a href="/todotasks">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private TodoTask? todotask;

    [SupplyParameterFromQuery]
    private Guid Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        todotask = await context.Task.FirstOrDefaultAsync(m => m.Id == Id);

        if (todotask is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteTodoTask()
    {
        using var context = DbFactory.CreateDbContext();
        context.Task.Remove(todotask!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/todotasks");
    }
}
